<h1>Create a new appearance!</h1>

<%= form_for @appearance do |f| %>


  <%= f.collection_select :guest, Guest.all, :id, :name %>
  <%= f.collection_select :episode, Episode.all, :id, :date %>

  <br>
  <%= f.label :rating, "Your rating must be between 1-5" %>
  <br>
  <%= f.number_field :rating %>
  <%= f.submit "Submit" %>

<% end %>
